.section__padding {
  padding: 4rem 6rem;
}

.flex__center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.app__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  min-height: 100vh;
}

.headtext__markazi {
  font-family: var(--font-base);
  color: var(--color-primary-seaweed);
  font-size: 64px;
}

.p__markazi {
  font-family: var(--font-base);
  color: var(--color-primary-seaweed);

  font-size: 40px;
}
.p__karla-seaweed {
  font-family: var(--font-alt);
  color: var(--color-primary-seaweed);
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
}
.p__karla-seaweedbold {
  font-family: var(--font-alt);
  color: var(--color-primary-seaweed);
  font-size: 16px;
  font-weight: 500;
}

.p__karla-extrabold {
  font-family: var(--font-alt);
  color: #000;
  font-size: 16px;
  font-weight: 800;
}

.h3__karla {
  font-family: var(--font-alt);
  color: #000;
  font-size: 18px;
  font-weight: 500;
}

.h3__karla-bold {
  font-family: var(--font-alt);
  color: #000;
  font-size: 18px;
  font-weight: 700;
}

.h2__karla {
  font-family: var(--font-alt);
  color: #000;
  font-size: 20px;
  font-weight: 800;
  text-transform: capitalize;

  /*
  letter-spacing: 0.04em;
  line-height: 28px; */
}
